<section class="product-info-in">
    <div class="container">
        <div class="row" style="align-items: center;">
            <div class="col-md-6">
                {% if section.settings.pinfo_image != blank %}
                <img src="{{ section.settings.pinfo_image | img_url: 'master' }}"
                    alt="{{ section.settings.pinfo_image.alt}}">
                {% else %}
                {% assign placeholder = 'lifestyle-2' %}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="product-info-content">
                    <h3>{{section.settings.pinfo_title}}</h3>
                    <p>{{section.settings.pifno_description}}</p>
                    <a href="{{ section.settings.pinfo_button_link }}" class="fill-btn">{{
                        section.settings.pinfo_button_label }}</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
"name": "Product-Info",
"class": "product-info-side",
"settings": [
{
"type": "image_picker",
"id": "pinfo_image",
"label": "Product Image"
},
{
"type": "text",
"id": "pinfo_title",
"default": "Example Heading",
"label": "Heading Title"
},
{
"type": "richtext",
"id": "pifno_description",
"default": "<p>Example Paragraph</p>",
"label": "Heading Description"
},
{
"type": "text",
"id": "pinfo_button_label",
"default": "Button",
"label": "Button Label"
},
{
"type": "url",
"id": "pinfo_button_link",
"label": "Button Link"
}
],
"presets": [
{
"category": "Product Info",
"name":"Specific Product Info"
}
]
}
{% endschema %}